<section class="education-wrap">
  <div class="education">
    <h2 class="section-head">Education</h2>
    <table>
      <tbody>
        {{#each education}}
        <tr>
          <td>
            <span class="education-dates">{{#if this.startDate}}{{this.startDate}}-{{/if}}{{this.endDate}}</span>
            {{this.institution}}
          </td>
          <td>{{this.studyType}} {{this.area}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>