 <section class="info-wrap">
  <div class="info-name">
    <h1>{{basics.name}}</h1>
  </div>
  <div class="info-meta">
    <div class="location">
      <span class="email">{{basics.email}}</span>
      <span class="region">{{basics.location.city}}, {{basics.location.region}}</span>
    </div>
    <div class="social">
      {{#each basics.profiles}}
        <a title="{{this.network}}" target="_blank" href="{{this.url}}">{{this.network}}</a>
      {{/each}}
    </div>
  </div>
</section>