<section class="projects-wrap">
  <div class="projects">
    <h2 class="section-head">Projects</h2>
      {{#each projects}}
        <h6 class="section-sub-head">
          <a target="_blank" href="{{this.url}}" title="{{this.name}}"><strong>{{this.name}}</strong></a>
        </h6>
        <p class="summary">{{this.summary}}</p>
        <p class="tech">{{this.tech}}</p>
      {{/each}}
  </div>
</section>